@model KouStore.Areas.Customer.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="home">
    <div class="panel">

        <h1>Categories</h1>
        <div class="category-container">
@foreach (var category in @Model!.Categories)
{
            <a class="button button-success" asp-area="Customer" asp-controller="Category" asp-action="Index" asp-route-categoryName="@category.Name">@category.Name</a>
}
        </div>

        <h2>Recently Added</h2>
        <div class="product-container">

@foreach (var product in @Model.QueryModels)
{
            <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id" class="product">
                <img class="header-img" src="@product.GetImageDataURL()" alt="image01">
                <div class="product-info">
                    <div class="title-price">
                        <h3 class="title">@product.Title</h3>
                        <h3 class="price">@product.Price $</h3>
                    </div>
                    <div class="description">
                        <p>@product.Description</p>
                    </div>
                </div>
            </a>
}

        </div>

        <div class="page-numbers">
@if (@Model.CurrentPage > 1)
{               
            <a class="button button-success" asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
}
            <a class="current-page-number button button-success">@Model.CurrentPage</a>
@if (@Model.CurrentPage < @Model.TotalPageCount)
{
            <a class="button button-success" asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
}
        </div>
    
    </div>
</div>