@model KouStore.Areas.Customer.Models.HomePageViewModel

<h1>Home</h1>
@foreach (var category in @Model.Categories)
{
    <a asp-area="Customer" asp-controller="Category" asp-action="Index" asp-route-categoryName="@category.Name">@category.Name</a>
    <br />
}
<br />
@foreach (var product in @Model.QueryModels)
{
    <a>@product.Title</a>
    <br />
}
