@model KouStore.Models.CategoryModel

<div class="products">
    <div class="panel">
        <h1>@Model!.Name</h1>
        <a asp-action="Create" asp-route-categoryName="@Model.Name" class="button button-success">Create New Product</a>
        <div class="product-container">

@foreach (var product in @Model.Products)
{
                
            <div class="product">
                <img class="header-img" src="@product.GetImageDataURL()" alt="product">
                <div class="product-info">
                    <div class="title-price">
                        <h3 class="title">@product.Title</h3>
                        <h3 class="price">@product.Price $</h3>
                    </div>
                    <div class="description">
                        <p>@product.Description</p>
                    </div>
                </div>
                <div class="update-delete">
                    <a asp-action="Update" asp-route-categoryName="@Model.Name" asp-route-id="@product.Id" class="button button-success">Update</a>
                    <a asp-action="Delete" asp-route-categoryName="@Model.Name" asp-route-id="@product.Id" class="button button-danger">Delete</a>
                </div>
            </div>
}

        </div>
    </div>
</div>