@model KouStore.Models.ViewModels.ProductManageViewModel
@using static KouStore.Config.Strings

<form method="post" asp-action="Create">
    <label>@LabelStrings[Label.Title].Translate() (@LabelStrings[Label.English].Translate())</label>
    <input asp-for="Product.NameEnglish"/>
    <br />
    <label>@LabelStrings[Label.Title].Translate() (@LabelStrings[Label.Turkish].Translate())</label>
    <input asp-for="Product.NameTurkish"/>
    <br />
    <label>@LabelStrings[Label.Description].Translate() (@LabelStrings[Label.English].Translate())</label>
    <input asp-for="Product.DescriptionEnglish"/>
    <br />
    <label>@LabelStrings[Label.Description].Translate() (@LabelStrings[Label.Turkish].Translate())</label>
    <input asp-for="Product.DescriptionTurkish"/>
    <br />
    <label>@LabelStrings[Label.Price].Translate()</label>
    <input asp-for="Product.Price" type="number" min="0.00" max="99999.00" step="0.01"/>
    <br />
    <label>@LabelStrings[Label.Category].Translate()</label>
    <select asp-for="SubCategoryId">
        @foreach (var category in @Model.Categories)
        {
            <optgroup label="@category.GetNameStringModel().Translate()">
                @foreach (var sub in @Model.SubCategories)
                {
                    if (sub.Category.Id == category.Id)
                    {
                        <option value="@sub.Id">@sub.GetNameStringModel().Translate()</option>
                    }
                }
            </optgroup>
        }
    </select>
    <br />
    <label>@LabelStrings[Label.StockQuantity].Translate()</label>
    <input asp-for="Product.StockQuantity"/>
    <input type="submit" value="Create" />
</form>