@model FormModel<SignInViewModel>
@{
    ViewData["Title"] = "Sign in";
}

<h1>Sign in</h1>

<form asp-action="ValidateSignIn" asp-route-tController="@ViewBag.LastController" asp-route-tAction="@ViewBag.LastAction" asp-route-tId="@ViewBag.LastId">
    <label asp-for="ViewModel.Customer.Name"></label>
    <input asp-for="ViewModel.Customer.Name" />
    @if (!@Model!.ViewModel.NameValid)
    {
        <p>@Model.ViewModel.NameError</p>
    }
    <br />
    <label asp-for="ViewModel.Customer.Password"></label>
    <input asp-for="ViewModel.Customer.Password" />
    @if (!@Model!.ViewModel.PasswordValid)
    {
        <p>@Model.ViewModel.PasswordError</p>
    }
    <br />
    <input type="submit" value="Sign in" />
</form>
<a asp-action="Register">Register</a>