@model ProductPageViewModel
@{
    ViewData["Title"] = @Model!.Product.Title;
}

<div class="productpage">
    <div class="panel">
        <img class="image" src="@Model.Product.GetImageDataURL()" alt="img">
        <div class="info">
            <h1 class="title">@Model.Product.Title</h1>
            <div class="price-cart">
                <h1 class="price">@Model.Product.Price $</h1>
@if (@Model.IsInCard)
{
    <a class="button button-success" asp-action="Index" asp-controller="Cart" asp-route-id="@Model.Customer!.Id">Go to Cart</a>
}
else
{
    <a class="button button-highlight" asp-action="AddToCart" asp-route-id="@Model.Product.Id">Add to Cart</a>
}
            </div>
            <h3 class="desc">Description</h3>
            <p class="desc-text">@Model.Product.Description</p>
        </div>
    </div>
</div>